<% layout("layouts/boilerplates.ejs") %>
<div class="row">
<div class="col-8 offset-2">
<body>
    <br>
    <h1>Sign Up on  ZTravel:</h1>
    <br>
    
    <form method="POST" action="/signup" class="needs-validation" novalidate >
        <div class="mb-3">
            <label for="Email" class="form-label"> Email:</label>
            <input name="email" placeholder="Write your Email" class="form-control" type="text" required>
            <div class="invalid-feedback">Enter Valid Email!</div>
        </div>

        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input class="form-control" name="username" placeholder="Write your unique user name " type="text" required>
            <div class="invalid-feedback">Enter Valid username</div>
        </div>
        

        
        

        <div class="mb-3" >
            <label for="password" class="form-label">Password : </label>
            <input name="password"   placeholder="Enter An unique password " type="text" class="form-control" required>
            <div class="invalid-feedback">Enter Valid password</div>

        </div>
        <br><br>
        
        
        
        <button class="btn btn-success">SignUp</button>
        
    </form>
</body>
</div>
</div>